.photo-post {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  height: 170px;
  object-fit: cover;
}

#booking_confirmation {
  display: none;
}

.fixed {
  z-index: 1;
  position: sticky;
  top: 0;
  backdrop-filter: blur(40px);
  border-bottom: 1px solid white;
  margin-bottom: 5px;
}
