.profile-photo {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  height: 15rem;
  object-fit: cover;
}

#container-strong {
  #strong-blue{
    color: #2F0CC7;
  }
  #strong-red{
    color: #A01515;
  }
  .fa-solid {
    color: #50514F;
  }
}
