<script>
  if (window.location.pathname == '/mensurations') {
    body.style = 'height: calc(100vh); background: linear-gradient(to top, #ada996, #f2f2f2, #dbdbdb, #eaeaea);';
  }
</script>

<%= render 'shared/navbar' %>

<div class="container" style="display: flex;justify-content: center;align-items: center; height:80vh;">
  <% if @user.sexe == 'Homme' %>
    <%= image_tag 'man.png', style: 'height:95%;' %>
  <% else %>
  <%= image_tag 'womanH.png', style: 'height:95%;' %>
  <% end %>
</div>
