<script>
  if (window.location.pathname == '/mensurations') {
    body.style = 'height: calc(100vh); background: linear-gradient(110deg, rgb(184 184 184) 10%, rgb(255 255 255) 50%, rgba(184 184 184) 90%);';
  }
</script>

<div class="container" style="display: flex;justify-content: center;align-items: center;">
  <% if @user.sexe == 'Homme' %>
    <img src="" alt="">
    <p>Homme</p>
  <% else %>
    <img src="" alt="">
    <p>Femme</p>
  <% end %>
</div>


<%= render 'shared/retour' %>
