<script>
  if (window.location.pathname == '/mensurations') {
    body.style = 'height: calc(100vh); background: linear-gradient(to top, #ada996, #f2f2f2, #dbdbdb, #eaeaea);';
  }
</script>

<%= render 'shared/navbar' %>

<div class="container" style="display: flex;justify-content: center;align-items: center;">
  <% if @user.sexe == 'Homme' %>
    <img src="" alt="">
    <p>Homme</p>
  <% else %>
    <img src="" alt="">
    <p>Femme</p>
  <% end %>
</div>
