<div class="container" style="display: flex;justify-content: center;align-items: center;">
  <h1>Mensuration</h1>
  <br><br><br><br><br>
</div>
<div class="container" style="display: flex;justify-content: center;align-items: center;"></div>
  <p><%= @user.sexe %></p>
  <p><%= @user.date_de_naissance %></p>
</div>

<%= render 'shared/retour' %>
