<%= render 'shared/navbar' %>
<div class="container">
  <h2 style="text-align: center;">Trouve ton prochain artiste</h2>
</div>
<%= render "shared/filterbarprofile" %>
<%= render 'shared/cardcandidats' %>
