<div class="container">
  <div class="card-trip">
    <% @post.each do |p| %>
      <%= link_to post_path(p) do %>
      <div class="card-trip-infos">
        <div>
          <h2><%= p.titre %></h2>
          <p><%= p.descriptif %></p>
        </div>
        <h2 class="card-trip-pricing">£99.99</h2>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
