<div class="container" style="display: flex;justify-content: center;position: fixed; bottom: 2rem;">
  <%= link_to candidats_path do %>
    <i class="fa-solid fa-clapperboard" style="font-size: 50px; color: black"></i>
  <% end %>
</div>
