<h1>My Books</h1>

<% @my_books.each do |b|%>
  <li> <%= b.id %> <%= b.titre %> </li>
<% end %>


<%= link_to new_book_path do %>
  <i class="fa-solid fa-plus" style="font-size: 50px; color: black"></i>
<% end %>

<%= render 'shared/retourprofile' %>
