<h1>New Books</h1>

<%= simple_form_for @book do |f| %>
  <%= f.input :titre, required: true, autofocus: true, label: false, placeholder: "Titre", input_html: { autocomplete: "titre" } %>
<% end %>

<div class="container" style="display: flex;justify-content: center;position: absolute; bottom: 2rem;">
  <%= link_to books_path do %>
    <i class="fa-solid fa-clapperboard" style="font-size: 50px; color: black"></i>
  <% end %>
</div>
