<%= render 'shared/navbar' %>
<div class="container" style="display: flex;justify-content: center;align-items: center;">
  <h1><%= @book.titre.capitalize %></h1>
  <br><br><br><br><br>
</div>

<div class="container" id="carrousel">
      <% @book.photos.each do |photo| %>
          <%= cl_image_tag photo.key, class: 'el',  width: 350, crop: :lfill %>
      <% end %>
    <br><br><br>
</div>
