<h1>My Archive</h1>
<%= render 'shared/retourprofile' %>

<% @user.bookings.each do |b| %>
  <strong><%= b.post.titre %></strong><br>
  <small><%= b.post.descriptif.truncate(50) %></small><br>
  <p><% if b.status === false %>
    <span class="badge bg-danger">En attente</span>
  <% else %>
    <span class="badge bg-success">Accepté</span>
  <% end %></p>
<% end %>
