<script>
  if (window.location.pathname == '/posts') {
    document.querySelector("#body").style = 'height: calc(100vh); background: linear-gradient(to top, #ada996, #f2f2f2, #dbdbdb, #eaeaea);';
  }

  let scrollpos = window.scrollY
  const header = document.querySelector("#body")
  const header_height = header.offsetHeight

  const add_class_on_scroll = () => header.classList.add("fade-in")
  const remove_class_on_scroll = () => header.classList.remove("fade-in")

  window.addEventListener('scroll', function() {
    scrollpos = window.scrollY;

    if (scrollpos <= header_height) { add_class_on_scroll() }
    else { remove_class_on_scroll() }

  })
</script>


<div class="fixed">
  <%= render "shared/navbar" %>
  <div class="container">
    <h2 style="text-align: center;">Trouve ton prochain tournage</h2>
  </div>
  <%= render "shared/filterbarpost" %>
</div>
<%= render "shared/cardposts" %>
